%button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

%button {
  height: 50px;
  line-height: 50px;
  letter-spacing: .16px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0 0.8rem;
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease;
  min-width: 7.8125rem;
  border: 2px solid $warm-grey--6;
  border-radius: 3px;
  color: $warm-grey--6;
  box-shadow: 0 1px 3px #00000033;
  white-space: nowrap;
  -webkit-font-smoothing: auto;

  &:focus {
    box-shadow: 0 0 2px $warm-grey--1;
  }

  &:hover {
    background-color: $warm-grey--3;
  }

  &:disabled,
  &[disabled],
  &.disabled,
  &.button--disabled {
    cursor: no-drop;
    box-shadow: none;
  }

  img {
    margin-right: .8rem;
  }
}

.button, button, [type="button"] {
  @extend %button-reset;
  @extend %button;
}

.button--primary {
  background-color: $primary-red--4;
  border: 2px solid $primary-red--4;
  color: $primary-red--1;

  &:focus,
  &:hover {
    background-color: $primary-red--5;
    border-color: $primary-red--5;
    color: $primary-red--1;
  }

  &:disabled,
  &[disabled],
  &.disabled,
  &.button--disabled {
    background-color: $warm-grey--1;
    border-color: $warm-grey--1;
    color: $warm-grey--3;
  }
}

.button--white {
  background-color: white;
  border: 2px solid white;
  color: $primary-red--4;

  &:focus,
  &:hover {
    background-color: $primary-red--1;
    border-color: $primary-red--1;
    color: $primary-red--5;
  }

  &:disabled,
  &[disabled],
  &.disabled,
  &.button--disabled {
    opacity: 0.65;
  }
}

.button--small {
  font-size: $fontSize-14pt;
  line-height: $fontSize-14pt;
  height: 40px;
  padding: 0px .64rem;
  min-width: 3.815rem;
  
  a .button__icon {
    margin-right: .64rem;
  }
}

.button--outline {
  background-color: #fff;
  border: 1px solid $primary-red--4;
  color: $primary-red--4;
  
  &:focus {
    box-shadow: 0 0 2px $warm-grey--1;
  }

  &:hover {
    background-color: $primary-red--1;
  }

  &:disabled,
  &[disabled],
  &.disabled,
  &.button--disabled {
    background-color: #fff;
    border-color: $warm-grey--2;
    color: $warm-grey--3;
    cursor: no-drop;
  }
}

.button--large {
  font-size: 1.125rem;
  line-height: 60px;
  height: 60px;
  padding: 0px 1.125rem;
  min-height: 2.441rem;
  min-width: 3.815rem;
  
  a .button__icon {
    margin-right: .64rem;
  }
}
