body.docs header nav {
  max-width: 100%; 
}

header {
  box-shadow: $box-shadow;
  z-index: $header-z-index;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;

  ul {
    padding: 0px;
  }

  a.logo {
    font-size: 0px;
  }

  img.logo {
    width: 170px;
  }

  nav[role=navigation] {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    position: relative;
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch;

    @include MQ(ML) {
      flex-direction: row;
      align-items: center;
      overflow-y: visible;
    }
  }

  .mobile-toggle {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    @include center(y);
    right: 1rem;
    min-width: 34px;
    height: 34px;
    z-index: 99;

    img {
      margin: 0px;
    }

    svg {
      width: 24px;
      position: absolute;
      @include center(xy);
    }

    svg rect {
      fill: $primary-red--4;
    }

    @include MQ(ML) {
      display: none;
    }
  }

  input[type="checkbox"] {
    &.show-menu {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 1.125rem;
      top: 1.125rem;
      cursor: pointer;
      opacity: 0;
      z-index: 100;
      -webkit-touch-callout: none;
    }

    @include MQ(ML) {
      display: none;
    }
  }

  input[type="checkbox"].show-menu:checked ~ nav[role=navigation] > .nav-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: .5rem 0;

    @include MQ(ML) {
      flex-direction: row;
      text-align: center;
      justify-content: flex-start;
    }
  }

  .mobile-container {
    width: 100%;
    position: relative;

    @include MQ(ML) {
      width: auto;
    }
  }

  ul.nav-group {
    display: none;
    z-index: $header-z-index + 1;
    
    & > li {
      width: 100%;
      text-align: center;
    }
    
    a.button {
      width: 100%;
      text-align: center;
      justify-content: center;
    }
    
    &.shown {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 100%;
      margin: .5rem 0;
    }

    @include MQ(ML) {
      & > li {
        text-align: left;
      }
    }

    @include MQ(ML) {
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: flex-start;
      align-self: stretch;
      text-align: left;
      flex-direction: row;

      & > li {
        display: flex;
        align-items: center;
        width: auto;
        text-align: left;
      }
    
      a.button {
        width: auto;
      }
      
      &:last-of-type {
        flex: 1;
        justify-content: flex-end;
      }
    }
  }

  a.nav-anchor {
    text-decoration: none;
    font-size: $fontSize-16pt;
    color: $warm-grey--5;
    height: auto;
    line-height: auto;
    min-width: auto;
    border: none;
    box-shadow: none;
    border: 2px solid transparent;
    width: 100%;
    display: block;
    
    &:focus, &:hover {
      background-color: #fff;
      outline: none;
    }
    
    @include MQ(ML) {
      width: auto;
      border: none;
      padding: 0 .84rem;
    }
  }

  div.dropdown-background {
    display: none;

    @include MQ(ML) {
      opacity: 0;
      background-color: #fff;
      width: 100px;
      height: 100px;
      position: absolute;
      transition: all 300ms, opacity 100ms, translate 200ms;
      display: flex;
      justify-content: center;
      top: 0;
      left: 0;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      -webkit-box-shadow: 0px 27px 34px -8px rgba(71,56,56,0.47);
      -moz-box-shadow: 0px 27px 34px -8px rgba(71,56,56,0.47);
      box-shadow: 0px 27px 34px -8px rgba(71,56,56,0.47);
      z-index: $header-z-index;
      
      span.arrow {
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: -.84rem;
        transform: rotate(45deg);
        transition: all 200ms ease;
      }
    }
  }

  div.dropdown-background.open {
    opacity: 1;
  }

  ul.dropdown {
    padding: 1rem;
    opacity: 0;
    display: none;
    transition: all 220ms ease;
    flex-direction: column;
    overflow-y: scroll;
    
    hr {
      height: 1px;
      border: .5px solid $warm-grey--2;
      justify-self: flex-start;
      margin: 0 .84rem;
      margin-right: 4rem;
    }
    
    @include MQ(M) {
      padding: 1rem;
      overflow-y: scroll; 
      max-height: 60vh;
    }

    @include MQ(ML) {
      position: absolute;
      left: 0px;
      top: 76px;
      min-width: 44rem;
      max-height: 80vh;
      overflow-y: auto;
    }
  }

  .nav-link-list {
    display: flex;
    flex-wrap: wrap;
    padding: .84rem 0rem;
    margin: 0px;
  }

  .nav-link-list li {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    margin-bottom: 0;
    padding: 0 .84rem;
    
    header nav[role=navigation] {
      flex-direction: column;
      align-items: flex-start;
    }
    
    a {
      padding: 1rem;
      z-index: 999;
    }
    
    a:focus {
      outline: $primary-red--4 auto;
    }
    
    &:before {
      position: absolute;
      top: .3rem;
      left: .75rem;
      width: 0.84rem;
      height: 0.84rem;
    }
    
    @include MQ(M) {
      flex: 1 0 50%;
    }
  }

  .double-wide li {

    @include MQ(M) {
      flex: 0 0 25%;
    }
  }

  ul.dropdown > li {
    position: relative;

    a {
      padding-top: $spacing-8pt;
      padding-bottom: $spacing-8pt;
      font-size: $fontSize-14pt;
      display: block;
      cursor: pointer;
      width: 100%;
      text-align: left;
    }

    h4 {
      position: relative;
      margin: 0px;
      padding: .84rem;
      color: $warm-grey--6;
      display: block;
      text-align: left;
      font-weight: 700;
      
      a {
        font-size: inherit;
        text-decoration: none;
        font-weight: bold;
        position: relative;
        display: block;
      }

      a:focus {
        outline: $primary-red--4 auto;
      }
    }

    &:before {
      position: absolute;
      right: .84rem;
      top: .5rem;
      width: 44px;
      height: 44px;
      border-radius: 50%;
    }

    &:last-of-type .nav-link-list {
      margin-bottom: 0px;
      padding-bottom: .84rem;
    }
  }

  .trigger-enter ul.dropdown {
    display: flex;
  }

  .trigger-enter-active ul.dropdown {
    opacity: 1;
  }

  .trigger-enter a.nav-anchor {
    color: $primary-red--4;
    background-color: #fff;
    transition: color 220ms ease;
  }

  li {
    list-style: none;
    margin-bottom: 0;
  }

  li.nav-item {
    position: relative;
    padding: .84rem 0rem;

    @include MQ(ML) {
      border: none;
      margin-bottom: 0px;
      padding: $fontSize-12pt;
    }
  }
}